.image2 {
    width: 400px;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    .image2 {
      width: 300px;
    }

    .header {
      margin-left: 2.4rem;
    }
  }

  .col-md-4 {
    display: flex;
    justify-content: center;
  }
  .footer{
    height: 2rem;
    width: 100%;
    background-color: rgb(49, 38, 40);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    bottom: 0;
    position: relative;
  }

  .footer li{
    list-style: none;
    cursor: pointer;
  
  }
.footer-link{
  text-decoration: none;
  color: white;
}
.container p{
  font-size: 20px;
}

.image{
  object-fit: contain;
  height: 22rem;
  width: 100%;
  
}
.content{
  padding: 2px; 
  margin-top: 12px;
}

.content-publish{
  color: rgb(124, 108, 88);
  
}

.newsItem{
  padding: 12px;
  border-radius: 7px;
  background-color: rgb(235, 233, 233);
}
